
/**
* -------------
* Global Styles
* -------------
*/

body {
  /* Default font family and font color */
  font-family: 'Poppins', sans-serif;
}

p, li, textarea, label, input, select {
  /* Default font size and line height */
}



h1 {
   /* Default font, size, and margins */
}

h2 {
  /* Default font, size, and margins */
}

h3 {
  /* Default font, size, and margins */
}

h4 {
  /* Default font, size, and margins */
}

h5 {
  /* Default font, size, and margins */
}

h6 {
  /* Default font, size, and margins */
}


a {
  /* Link color */
}

a:hover {
  /* Link color on mouse over */
}


/**
* ------
* Layout
* ------
*/




/**
* ----------
* Components
* ----------
*/

.rectangle_jaune{
  color: #ffffff;
  width: 1440px;
  height: 128px;
  opacity: 0.81;
  background-color: #fcce00;
}

.title{
  font-family: Poppins;
  font-size: 88px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.rectangle_orange {
  width: 1440px;
  height: 64px;
  opacity: 0.81;
  background-color: #ff6b00; 
}

.section-title {
  font-family: Poppins;
  font-size: 38px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.rect_rouge {
  width: 1440px;
  height: 32px;
  opacity: 0.81;
  background-color: #e02020;
}

.rect_violet {
  width: 1440px;
  height: 16px;
  opacity: 0.81;
  background-color: #b620e0;
}

.rect_bleu { 
  width: 1440px;
  height: 8px;
  opacity: 0.81;
  background-color: #6236ff;
}

.sub-title {
  font-family: Poppins;
  font-size: 40px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
}

.sous_titre_1 {
  width: 640px;
  height: 33px;
  font-family: Poppins;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
}

.paragraphe_1 {
  width: 640px;
  height: 345px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: justify;
}


.bouton_jaune {
  border-radius: 15px;
  color: #fcce00;
  border: solid 4px;
  margin-left: 503px;
  margin-top: 30px;
}

.learn_more {
  font-family: Poppins;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: center;
  letter-spacing: normal;
  text-align: center;
  color: #fcce00;
  width: 130px;
  height: 25px;
}


.produit_image2 {
  object-fit: contain;
  margin-left: 937px;
  margin-top: -927px;
  mix-blend-mode: multiply;
}

.dégradé {
  width: 720px;
  height: 512px;
  margin-left: 723px;
  margin-top: -500px;
  background: linear-gradient(to bottom, #FCD72F 50%, #FDE062 50%, 
    #FDE062 75%, #FDEA95 75%, #FDEA95 88%, #FEF5CB 88% );
}

.produit_image3 {
  width: 378px;
  height: 486px;
  object-fit: contain;
  margin-left: 120px;
  mix-blend-mode: multiply;
}

.dégradé_2 {
  width: 720px;
  height: 512px;
  margin-left: 0px;
  margin-top: -470px;
  background: linear-gradient(to bottom, #FF8630 50%, #FFA463 50%, 
    #FFA463 75%, #FFC296 75%, #FFC296 88%, #FFE1CC 88% );
}

.sous_titre2 {
  width: 654px;
  height: 66px;
  margin-left: 760px;
  margin-top: -470px;
  font-family: Poppins;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
}

.paragraphe_2 {
  width: 640px;
  height: 210px;
  margin-left: 760px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: justify;
}

.bouton_orange {
  border-radius: 15px;
  color: #ff6b00; 
  border: solid 4px;
  margin-left: 1270px;
  }

.learn_more_2 {
  width: 130px;
  height: 25px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: var
}

.sous-titre2 {
  width: 430px;
  height: 56px;
  margin-left: 520px;
  margin-top: 150px;
  font-family: Poppins;
  font-size: 40px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
}

.dégradé_rouge {
  width: 1440px;
  height: 640px;
  background: linear-gradient(to bottom, #E64A4A 50%, #EC7676 50%, 
    #EC7676 75%, #F2A3A3 75%, #F2A3A3 88%, #F9D2D2 88% );
}

.screen1 {
  width: 745px;
  height: 576px;
  margin-left: 700px;
  object-fit: contain;
  opacity: 0.9;
  mix-blend-mode: darken;
}

.sous-titre-red-1 {
  width: 640px;
  height: 33px;
  font-family: Poppins;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
}

.an-arcade {
  width: 640px;
  height: 45px;
  margin-top: -500px;
  margin-left: 60px;
  font-family: Poppins;
  font-size: 32px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.paragraphe-red {
  width: 487px;
  height: 66px;
  margin-top: -50px;
  margin-left: 60px;
  font-family: Poppins;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.bouton_rouge {
  width: 185px;
  height: 45px;
  margin-top: 30px;
  margin-left: 60px;
  border-radius: 15px;
  border: solid 4px #ffffff;
  background-color: #E64A4A;
  }

.learn_more_3 {
  width: 138px;
  height: 31px;
  margin-top: 3px;
  margin-left: 20px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.dégradé_violet {
  width: 1440px;
  height: 640px;
  background: linear-gradient(to bottom, #C34AE6 50%, #D276EC 50%, 
    #D276EC 75%, #E1A3F2 75%, #E1A3F2 88%, #F0D2F9 88% );
}

.screen2 {
  width: 745px;
  height: 576px;
  margin-left: 700px;
  object-fit: contain;
  opacity: 0.9;
  mix-blend-mode: darken;
}

.a-color-tv {
  margin-left: 60px;
  margin-top: -500px;
  font-family: Poppins;
  font-size: 32px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.paragraphe-violet {
  width: 487px;
  height: 66px;
  margin-left: 0px;
  margin-top: 0px;
  font-family: Poppins;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.bouton_violet {
  width: 185px;
  height: 45px;
  margin-top: 30px;
  margin-left: 0px;
  border-radius: 15px;
  border: solid 4px #ffffff;
  background-color: #C34AE6;
}

.learn_more_4 {
  width: 138px;
  height: 31px;
  margin-top: 3px;
  margin-left: 20px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.bloc_5{
margin-top: 350px;
}

.dégradé_bleu {
  width: 1440px;
  height: 640px;
  background: linear-gradient(to bottom, #7F5BFF 50%, #9F84FF 50%, 
    #9F84FF 75%, #BEACFF 75%, #BEACFF 88%, #DFD6FF 88% );
}

.screen3 {
  width: 745px;
  height: 576px;
  margin-left: 700px;
  object-fit: contain;
  opacity: 0.9;
  mix-blend-mode: darken;
}

.a-computer {
  margin-left: 60px;
  margin-top: -500px;
  font-family: Poppins;
  font-size: 32px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.paragraphe-bleu {
  width: 487px;
  height: 66px;
  margin-left: 0px;
  margin-top: 0px;
  font-family: Poppins;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.bouton_bleu {
  width: 185px;
  height: 45px;
  margin-top: 30px;
  margin-left: 0px;
  border-radius: 15px;
  border: solid 4px #ffffff;
  background-color: #7F5BFF;
}

.learn_more_5 {
  width: 138px;
  height: 31px;
  margin-top: 3px;
  margin-left: 20px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
